 

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
   font-style: normal;
  font-variation-settings: "wdth" 100;

}
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #757575;
}
 .btn-primary{
    background-color: #FD6E0A;
    font-weight: bolder;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
 }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0% 200px;
    
    
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;

}

    /* banner styles */
    .banner-greetings{
font-size: 45px;
font-weight: 600;

    }
    .banner-title{
        font-weight: bold;
        font-size: 85px;
    }

    .banner-profile-pic{
        size: 580px;
    }

    .banner{
        display: flex;
        justify-content: space-between;
        margin: 0 35px 0 230px;
    }
    .banner-content{
        max-width: 580px;
    }