 

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
   font-style: normal;
  font-variation-settings: "wdth" 100;

}
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #757575;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: black;
}

.text-center{
    text-align: center;
}

.secondary-bg{
    background-color: #FFF8F3;
}
.section-description{
font-size: 18px;
color: #757575;

}


 .btn-primary{
    background-color: #FD6E0A;
    font-weight: bolder;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
 }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0% 200px;
    
    
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;

}

    /* banner styles */
    .banner-greetings{
font-size: 45px;
font-weight: 600;

    }
    .banner-title{
        font-weight: bold;
        font-size: 85px;
    }

    .banner-profile-pic{
        size: 580px;
    }

    .banner{
        display: flex;
        justify-content: space-between;
        margin: 0 35px 0 230px;
    }
    .banner-content{
        max-width: 580px;
    }

    /* about styles */
    .about{
        border-radius: 10px;
        padding: 130px 150px;
       text-align: center;
      

    }

    /* main styles */
    main{
        max-width: 1140px;
        margin: 0 auto;
    }

    .about-items{
        display: flex;
        justify-content: space-around;
    }
    .item-title{
        font-weight: bold;

    }
    .skills-container{
        display: flex;
        gap: 24px;
    }

    .skill{
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    }

    main section{
        margin-top: 130px;
    }
    
    .resume-container{
       display:flex;
       gap: 24px;
       
    }
    .resume-download-cv{
       margin-top: 50px;
    }